In [7]:
import pandas as pd
import io
import numpy as np

real_estate_clients_data = """client_id,first_name,last_name,email,phone_number,status,last_contact_date,notes
1001,"John","Doe","john.doe@email.com","555-123-4567","Active","2024-01-15","Looking for first home"
1002,"Jane","Smith","jane.smith@email.com","(555) 987-6543","Lead","2023-11-01","Wants 3 bed, 2 bath"
1003,"Alice","Johnson","alice@example.com","555.555.1234","active","2024-02-20","Pre-approved. Sent listings."
1004,"Bob","Williams",,"555 444 8888","ACTIVE","2024-03-05","Needs a condo."
1005,"Charlie","Brown","charlie@email.com","555-123-4567","Active","2024-01-15","Looking for first home"
1006,"David","Lee","david@example.com","555-111-2222","Lead","2024-03-10","First-time buyer"
1007,,"Garcia","sarah@mail.com","555-333-4444","Lead","2024-03-12","Interested in new constructions"
1008,"Alice","Johnson","alice@example.com","555.555.1234","active","2024-02-20","Pre-approved. Sent listings."
1009,"Frank","White","frank@mail.net",,"Closed","2024-01-01","Bought last year."
1010,"Grace","Hall","grace@inbox.com","555-777-8888","ACTIVE","2024-03-25","Needs larger yard."
1011,"Helen","Clark",,"555-999-0000","Lead","2024-03-28",""
1012,"Ivan","King","ivan@web.co.uk","555-222-3333","Active","2024-04-01","Looking for rental properties"
"""

# Load the data into a DataFrame
df = pd.read_csv(io.StringIO(real_estate_clients_data))

print("--- First 5 Rows (df.head()) ---")
print(df.head())

print("\n--- DataFrame Information (df.info()) ---")
df.info()

print("\n--- Missing Values Count per Column (df.isnull().sum()) ---")
print(df.isnull().sum())

--- First 5 Rows (df.head()) ---
   client_id first_name last_name                 email    phone_number  \
0       1001       John       Doe    john.doe@email.com    555-123-4567
1       1002       Jane     Smith  jane.smith@email.com  (555) 987-6543
2       1003      Alice   Johnson     alice@example.com    555.555.1234
3       1004        Bob  Williams                   NaN    555 444 8888
4       1005    Charlie     Brown     charlie@email.com    555-123-4567

   status last_contact_date                         notes
0  Active        2024-01-15        Looking for first home
1    Lead        2023-11-01           Wants 3 bed, 2 bath
2  active        2024-02-20  Pre-approved. Sent listings.
3  ACTIVE        2024-03-05                Needs a condo.
4  Active        2024-01-15        Looking for first home

--- DataFrame Information (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          12 non-null     int64
 1   first_name         11 non-null     object
 2   last_name          12 non-null     object
 3   email              10 non-null     object
 4   phone_number       11 non-null     object
 5   status             12 non-null     object
 6   last_contact_date  12 non-null     object
 7   notes              11 non-null     object
dtypes: int64(1), object(7)
memory usage: 900.0+ bytes

--- Missing Values Count per Column (df.isnull().sum()) ---
client_id            0
first_name           1
last_name            0
email                2
phone_number         1
status               0
last_contact_date    0
notes                1
dtype: int64

In [8]:
print("--- Before dropping duplicates (df.shape) ---")
print(df.shape)

# Drop duplicates based on a subset of key columns, keeping the first occurrence
df.drop_duplicates(subset=['first_name', 'last_name', 'email', 'phone_number'], inplace=True)

print("\n--- After dropping duplicates (df.shape) ---")
print(df.shape)
print("\n--- DataFrame Head after dropping duplicates ---")
print(df.head(7)) # Display more rows to see the effect if duplicates were beyond the first 5

print("--- 'status' column value counts BEFORE standardization ---")
print(df['status'].value_counts())

# Convert the 'status' column to Title Case
df['status'] = df['status'].str.title()

print("\n--- 'status' column value counts AFTER standardization ---")
print(df['status'].value_counts())
print("\n--- DataFrame Head showing standardized 'status' ---")
print(df.head())

print("--- 'phone_number' column head BEFORE cleaning ---")
print(df['phone_number'].head(7)) # Display more to see various formats

# Remove all non-digit characters from the 'phone_number' column
# r'\D' is a regular expression that matches any non-digit character
# regex=True tells Pandas to treat the pattern as a regular expression
df['phone_number'] = df['phone_number'].str.replace(r'\D', '', regex=True)

print("\n--- 'phone_number' column head AFTER cleaning ---")
print(df['phone_number'].head(7))

--- Before dropping duplicates (df.shape) ---
(12, 8)

--- After dropping duplicates (df.shape) ---
(11, 8)

--- DataFrame Head after dropping duplicates ---
   client_id first_name last_name                 email    phone_number  \
0       1001       John       Doe    john.doe@email.com    555-123-4567
1       1002       Jane     Smith  jane.smith@email.com  (555) 987-6543
2       1003      Alice   Johnson     alice@example.com    555.555.1234
3       1004        Bob  Williams                   NaN    555 444 8888
4       1005    Charlie     Brown     charlie@email.com    555-123-4567
5       1006      David       Lee     david@example.com    555-111-2222
6       1007        NaN    Garcia        sarah@mail.com    555-333-4444

   status last_contact_date                            notes
0  Active        2024-01-15           Looking for first home
1    Lead        2023-11-01              Wants 3 bed, 2 bath
2  active        2024-02-20     Pre-approved. Sent listings.
3  ACTIVE        2024-03-05                   Needs a condo.
4  Active        2024-01-15           Looking for first home
5    Lead        2024-03-10                 First-time buyer
6    Lead        2024-03-12  Interested in new constructions
--- 'status' column value counts BEFORE standardization ---
status
Lead      4
Active    3
ACTIVE    2
active    1
Closed    1
Name: count, dtype: int64

--- 'status' column value counts AFTER standardization ---
status
Active    6
Lead      4
Closed    1
Name: count, dtype: int64

--- DataFrame Head showing standardized 'status' ---
   client_id first_name last_name                 email    phone_number  \
0       1001       John       Doe    john.doe@email.com    555-123-4567
1       1002       Jane     Smith  jane.smith@email.com  (555) 987-6543
2       1003      Alice   Johnson     alice@example.com    555.555.1234
3       1004        Bob  Williams                   NaN    555 444 8888
4       1005    Charlie     Brown     charlie@email.com    555-123-4567

   status last_contact_date                         notes
0  Active        2024-01-15        Looking for first home
1    Lead        2023-11-01           Wants 3 bed, 2 bath
2  Active        2024-02-20  Pre-approved. Sent listings.
3  Active        2024-03-05                Needs a condo.
4  Active        2024-01-15        Looking for first home
--- 'phone_number' column head BEFORE cleaning ---
0      555-123-4567
1    (555) 987-6543
2      555.555.1234
3      555 444 8888
4      555-123-4567
5      555-111-2222
6      555-333-4444
Name: phone_number, dtype: object

--- 'phone_number' column head AFTER cleaning ---
0    5551234567
1    5559876543
2    5555551234
3    5554448888
4    5551234567
5    5551112222
6    5553334444
Name: phone_number, dtype: object

In [10]:
# --- Make sure you've rerun all cells from the beginning up to the 'phone_number' cleaning step ---

print("--- Missing values BEFORE handling email, name, notes ---")
print(df.isnull().sum())

# Action: Fill missing 'email' values with a placeholder
df['email'] = df['email'].fillna('no_email@example.com')
print("\n--- After filling missing 'email' ---")
print(df.isnull().sum())


# Action: Drop rows where EITHER 'first_name' OR 'last_name' is missing.
# Rationale: For a client list, having a complete name (first AND last) is typically essential.
df.dropna(subset=['first_name', 'last_name'], inplace=True)
print("\n--- After dropping rows with missing 'first_name' or 'last_name' ---")
print(df.isnull().sum())
print("\n--- DataFrame Head after dropping missing names ---")
print(df.head(7)) # This should now remove client_id 1007


# Action: Fill any missing 'notes' values with an empty string
df['notes'] = df['notes'].fillna('')
print("\n--- After filling missing 'notes' ---")
print(df.isnull().sum())

# Action: Fill any missing 'phone_number' values with an empty string or a placeholder
# (Decide if a blank string is acceptable or a placeholder like '0000000000')
# For cleaning purposes, let's use an empty string for consistency if no number is available.
df['phone_number'] = df['phone_number'].fillna('')
print("\n--- After filling missing 'phone_number' ---")
print(df.isnull().sum())

print("\n--- All Missing Values After Handling ---")
print(df.isnull().sum()) # Should now show 0 for all columns

print("--- 'last_contact_date' column BEFORE conversion (df.info()) ---")
df.info()

# Action: Convert the 'last_contact_date' column to datetime objects
df['last_contact_date'] = pd.to_datetime(df['last_contact_date'])

print("\n--- 'last_contact_date' column AFTER conversion (df.info()) ---")
df.info() # Verify data type is now datetime64
print("\n--- DataFrame Head showing datetime 'last_contact_date' ---")
print(df.head())

--- Missing values BEFORE handling email, name, notes ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         1
status               0
last_contact_date    0
notes                0
dtype: int64

--- After filling missing 'email' ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         1
status               0
last_contact_date    0
notes                0
dtype: int64

--- After dropping rows with missing 'first_name' or 'last_name' ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         1
status               0
last_contact_date    0
notes                0
dtype: int64

--- DataFrame Head after dropping missing names ---
   client_id first_name last_name                 email phone_number  status  \
0       1001       John       Doe    john.doe@email.com   5551234567  Active
1       1002       Jane     Smith  jane.smith@email.com   5559876543    Lead
2       1003      Alice   Johnson     alice@example.com   5555551234  Active
3       1004        Bob  Williams  no_email@example.com   5554448888  Active
4       1005    Charlie     Brown     charlie@email.com   5551234567  Active
5       1006      David       Lee     david@example.com   5551112222    Lead
8       1009      Frank     White        frank@mail.net          NaN  Closed

  last_contact_date                         notes
0        2024-01-15        Looking for first home
1        2023-11-01           Wants 3 bed, 2 bath
2        2024-02-20  Pre-approved. Sent listings.
3        2024-03-05                Needs a condo.
4        2024-01-15        Looking for first home
5        2024-03-10              First-time buyer
8        2024-01-01             Bought last year.

--- After filling missing 'notes' ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         1
status               0
last_contact_date    0
notes                0
dtype: int64

--- After filling missing 'phone_number' ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         0
status               0
last_contact_date    0
notes                0
dtype: int64

--- All Missing Values After Handling ---
client_id            0
first_name           0
last_name            0
email                0
phone_number         0
status               0
last_contact_date    0
notes                0
dtype: int64
--- 'last_contact_date' column BEFORE conversion (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 11
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          10 non-null     int64
 1   first_name         10 non-null     object
 2   last_name          10 non-null     object
 3   email              10 non-null     object
 4   phone_number       10 non-null     object
 5   status             10 non-null     object
 6   last_contact_date  10 non-null     datetime64[ns]
 7   notes              10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 720.0+ bytes

--- 'last_contact_date' column AFTER conversion (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 11
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   client_id          10 non-null     int64
 1   first_name         10 non-null     object
 2   last_name          10 non-null     object
 3   email              10 non-null     object
 4   phone_number       10 non-null     object
 5   status             10 non-null     object
 6   last_contact_date  10 non-null     datetime64[ns]
 7   notes              10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 720.0+ bytes

--- DataFrame Head showing datetime 'last_contact_date' ---
   client_id first_name last_name                 email phone_number  status  \
0       1001       John       Doe    john.doe@email.com   5551234567  Active
1       1002       Jane     Smith  jane.smith@email.com   5559876543    Lead
2       1003      Alice   Johnson     alice@example.com   5555551234  Active
3       1004        Bob  Williams  no_email@example.com   5554448888  Active
4       1005    Charlie     Brown     charlie@email.com   5551234567  Active

  last_contact_date                         notes
0        2024-01-15        Looking for first home
1        2023-11-01           Wants 3 bed, 2 bath
2        2024-02-20  Pre-approved. Sent listings.
3        2024-03-05                Needs a condo.
4        2024-01-15        Looking for first home